@import "./theme.scss";

//应用主题色 以class使用
.app-color {
  @include font_color("app_color");
}
.app-color-hover {
  &:hover {
    @include font_color("app_color");
  }
}
.app-bg-color {
  @include background_color("app_color");
}
.app-bg-color-hover {
  &:hover {
    @include background_color("app_color");
  }
}
.app-bg-color-dark {
  @include background_color_dark("app_color");
}
.app-bg-color-light-hover {
  &:hover {
    @include background_color_light("app_color");
  }
}
.app-btn {
  cursor: pointer;
  &:hover {
    @include background_color_light("app_color");
  }
}
.app-border-color{
   border-color:$app-border-color-second;
}

//****************************************************************
//********************修改element ui组件样式**********************
//****************************************************************

.app-siderbar-wrapper,
.app-menu-wrapper,
.app-content,
.app-msg {
  .el-scrollbar__wrap {
    overflow-x: hidden;
  }
}

.el-drawer__wrapper * {
  outline: none !important;
}
.el-drawer__header {
  margin-bottom: 0;
}

.app-tab {
  .el-tabs--card {
    width: 100%;
    .el-tabs__header {
      border-bottom: none;
      margin-bottom: 0;
    }
    .el-tabs__nav {
      border: none;
    }

    .el-tabs__nav-next,
    .el-tabs__nav-prev {
      line-height: $app-tab-item-height;
      font-size: 18px;
      &:hover {
        @include font_color("app_color");
      }
    }

    .el-tabs__item {
      box-sizing: border-box;
      height: $app-tab-item-height;
      margin-right: 5px;
      line-height: $app-tab-item-height;
      border: 1px solid $app-border-color;
      border-radius: 2.5px;
      transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) !important;
      .el-icon-close {
        line-height: 14px;
        &:hover {
          @include background_color("app_color");
          color: #fff;
        }
      }
      &:first-child {
        border-left: 1px solid $app-border-color;
      }
      &.is-active {
        @include font_color("app_color");
        @include background_color_light("app_color");
        @include border_solid("app_color", 1px);
      }
      &:hover {
        @include font_color("app_color");
      }
    }
  }
  &.app-tab-mellow {
    .el-tabs--card {
      .el-tabs__item {
        box-sizing: border-box;
        height: $app-tab-item-height;
        margin-right: -15px;
        line-height: $app-tab-item-height;
        border: none !important;
        border-radius: 0;
        transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) !important;
        padding: 0 30px;
        &:hover {
          mask: url("../assets/tab-mask.png");
          mask-size: 100% 100%;
          padding: 0 30px;
        }
        &.is-active {
          mask: url("../assets/tab-mask.png");
          mask-size: 100% 100%;
          padding: 0 30px;
          border: none !important;
        }
      }
    }
  }
}

//侧边栏菜单
.el-menu,
.el-menu--popup {
  border: 0;
}
.el-submenu [class^="ri-"],
.el-menu-item [class^="ri-"] {
  vertical-align: middle;
  margin-right: 5px;
  width: 24px;
  text-align: center;
  font-size: 18px;
}

/*隐藏文字 图标*/
.el-menu--collapse {
  .el-submenu__title span,
  .el-submenu__title .el-submenu__icon-arrow {
    display: none;
  }
  &.el-menu--horizontal {
    .el-submenu__title span,
    .el-submenu__title .el-submenu__icon-arrow {
      display: inline-block;
      visibility: visible;
      overflow: visible;
      width: auto;
      height: auto;
    }
  }
}

//顶栏菜单
.el-menu.el-menu--horizontal {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: $app-header-height;
  border-bottom: 0 solid transparent !important;

  .el-submenu,
  .el-submenu__title,
  .el-menu-item {
    color: $app-font-color;
    height: $app-header-height !important;
    line-height: $app-header-height !important;
    border-bottom: none;
  }
  .el-submenu__title:hover,
  .el-menu-item:hover {
    background-color: $app-bg-color-dark;
  }

  .el-menu-item.is-active {
    border-bottom: none;
    @include background_color("app_color");
  }

  .el-submenu.is-active .el-submenu__title {
    border: none;
  }
}

//页面标签
.app-header {
  .el-tabs__nav-wrap::after {
    position: static !important;
  }

  .el-tabs__header {
    margin: 0;
  }

  .el-tabs__item {
    &.is-active {
      @include font_color("app_color");
    }
  }

  .el-tabs__active-bar {
    @include background_color("app_color");
  }
}

.el-tabs__header {
  .el-tabs__nav-wrap::after {
    height: 1px;
  }
}

.message-popover {
  padding: 0;
  .el-tabs__item,
  .el-tabs__nav {
    //padding: 0 16px;
  }
  .el-tabs__active-bar {
   // width:32px !important;
    //padding: 0 16px;
  }
  .el-tabs__nav-scroll{
    display: flex;
    justify-content: center;
  }
}

//****************************************************************
//********************通用样式**********************
//****************************************************************

html,
body {
  position: relative;
  box-sizing: border-box;
  height: 100vh;
  padding: 0 !important;
  margin: 0;
  overflow: hidden;
  font-family: "Helvetica Neue,Helvetica,Hiragino Sans GB,Microsoft Yahei,Heiti SC,WenQuanYi Micro Hei,Arial,sans-serif";
  font-size: $app-font-size-default;
  color: $app-font-color;
  background: $app-page-bg;
  -webkit-font-smoothing: antialiased;
}
[class*="ri-"] {
  display: inline-block;
  font-size: 16px;
  text-align: center;
  vertical-align: -3.5px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

#app {
  width: 100%;
  height: 100%;
  position: relative;
}
.app-main {
  background: $app-page-bg;
}
//内容区
.app-content {
  background: #fff;
}

.app-siderbar-second {
  background: #fff;
}

//页面标签
.app-tab-wrapper {
  background: #fff;
  border-top: 1px solid $app-border-color-second;
}

//
#nprogress {
  .bar {
    @include background_color("app_color");
  }
  .peg {
    @include box_shadow("app_color", 0, 0, 10px, 0);
  }
}

@import "./theme-bg.scss";

// $darkMainColor = #f94135 	 // 主题色
// $darkPrimaryText = #ffffff   // 文字的首要颜色
// $darkRegularText = #b8b8b8   // 常规文字颜色
// $darkSecondaryText = #7f7f7f // 次要文字颜色
// $darkBorder = #373737        // 边框颜色
// $darkBoundary = #171514      // 边界颜色
// $darkBgColor = #171514       // 深色背景颜色
// $darkCard = #232222          // 深色卡片颜色
