@import "./theme.scss";

.el-scrollbar__wrap {
  overflow-x: hidden;
}

.el-drawer__wrapper * {
  outline: none !important;
}
.el-drawer__header {
  margin-bottom: 0;
}

.app-tab {
  .el-tabs--card {
    width: 100%;
    .el-tabs__header {
      border-bottom: none;
      margin-bottom: 0;
    }
    .el-tabs__nav {
      border: none;
    }

    .el-tabs__nav-next,
    .el-tabs__nav-prev {
      line-height: $app-tab-item-height;
      font-size: 18px;
      &:hover {
        @include font_color("app_color");
      }
    }

    .el-tabs__item {
      box-sizing: border-box;
      height: $app-tab-item-height;
      margin-right: 5px;
      line-height: $app-tab-item-height;
      border: 1px solid $app-border-color;
      border-radius: 2.5px;
      transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) !important;
      &:first-child {
        border-left: 1px solid $app-border-color;
      }
      &.is-active {
        @include font_color("app_color");
        @include background_color_light("app_color");
        @include border_solid("app_color", 1px);
      }
      &:hover {
        @include font_color("app_color");
      }
    }
  }
  &.app-tab-mellow {
    .el-tabs--card {
      .el-tabs__item {
        box-sizing: border-box;
        height: $app-tab-item-height;
        margin-right: -15px;
        line-height: $app-tab-item-height;
        border: none !important;
        border-radius: 0;
        transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) !important;
        padding: 0 30px;
        &:hover {
          background: $app-tab-item-bgcolor-hover;
          mask: url("../assets/tab-mask.png");
          mask-size: 100% 100%;
          padding: 0 30px;
        }
        &.is-active {
          color: $app-tab-item-color-active;
          background: $app-tab-item-bgcolor-active;
          mask: url("../assets/tab-mask.png");
          mask-size: 100% 100%;
          padding: 0 30px;
          border: none !important;
        }
      }
    }
  }
}

.app-menu {
  .el-menu {
    border: 0;
  }
  .el-menu-item:hover, .el-menu-item.is-active {
     @include background_color("app_color");
  }
}

.el-menu.el-menu--horizontal {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: $app-header-height;
  border-bottom: 0 solid transparent !important;

  .el-submenu,
  .el-submenu__title,
  .el-menu-item {
    height: $app-header-height !important;
    line-height: $app-header-height !important;
    border-bottom: none;
  }

  .el-menu-item.is-active {
    border-bottom: none;
    @include background_color('app_color')
  }

  .el-submenu.is-active .el-submenu__title {
    border: none;
  }
}

.el-menu--horizontal {
  .el-menu-item.is-active {
    @include background_color('app_color')
  }
  .el-submenu,
  .el-submenu__title,
  .el-menu-item {
    height: $app-header-height !important;
    line-height: $app-header-height !important;
    border-bottom: none;
  }
}

.app-header {
  .el-tabs__nav-wrap::after {
    position: static !important;
  }

  .el-tabs__header {
    margin: 0;
  }

  .el-tabs__item.is-active {
    @include font_color('app_color')
  }

  .el-tabs__active-bar {
    @include background_color('app_color')
  }
}
